<a href="https://colab.research.google.com/github/RanggaPD/Undergraduate-Thesis/blob/main/Skripsi_Cleaning_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from flask import Flask, send_file
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Data Gempa.csv") #Load dataset

In [ ]:
print(type(df)) #Menampilkan tipe data df
df

<class 'pandas.core.frame.DataFrame'>

      LAT       LON        DEPTH  TYPE    MAG  Month  Day  Year  Hour  Minute
0       2.0181    98.0467   43.1  mb       5.0     1    6  2000     0      56
1       1.4688    99.1323    0.0  mb       3.8     2    1  2000    15      16
2       1.6097    99.3500    0.0  mb       3.7     2    1  2000    15      21
3       3.8640    97.9372  190.0  mb       3.9     2   18  2000    10      13
4       0.4338    98.4284   43.0  mb       4.7     3    2  2000    21      11
...        ...        ...    ...     ...   ...   ...  ...   ...   ...     ...
5612    0.1700    99.9100   10.0  Mjma     3.7     2   25  2022     7      16
5613    0.0809   100.0179   10.0  mb       4.5     2   25  2022    15      17
5614    0.0742   100.0249    8.2  mb       3.8     2   25  2022    15      22
5615    0.1927    99.9074   16.7  mb       4.6     2   26  2022    19       8
5616    0.0736    99.9911   11.8  mb       3.9     2   28  2022    10      31

[5617 rows x 10 columns]

In [ ]:
print(df.dtypes)

LAT          float64
LON          float64
DEPTH        float64
TYPE          object
MAG          float64
Month         object
Day            int64
Year           int64
Hour           int64
Minute         int64
dtype: object

In [ ]:
data_nan=df.isna().sum()

In [ ]:
print(data_nan)

      LAT       LON        DEPTH  TYPE     MAG   Month    Day   Year   Hour  \
0        False      False  False   False  False  False  False  False  False
1        False      False  False   False  False  False  False  False  False
2        False      False  False   False  False  False  False  False  False
3        False      False  False   False  False  False  False  False  False
4        False      False  False   False  False  False  False  False  False
...        ...        ...    ...     ...    ...    ...    ...    ...    ...
5612     False      False  False   False  False  False  False  False  False
5613     False      False  False   False  False  False  False  False  False
5614     False      False  False   False  False  False  False  False  False
5615     False      False  False   False  False  False  False  False  False
5616     False      False  False   False  False  False  False  False  False

      Minute
0      False
1      False
2      False
3      False
4      False
...      ...
5612   False
5613   False
5614   False
5615   False
5616   False

[5617 rows x 10 columns]

In [ ]:
df = pd.read_csv("/content/Data Gempa.csv") #Load dataset

data_nan1 = df[df.isna().any(axis=1)]
print(data_nan1)

Empty DataFrame
Columns: [LAT     , LON      , DEPTH, TYPE  , MAG , Month, Day, Year, Hour, Minute]
Index: []

In [ ]:
data_duplikat =df.duplicated().sum()
print(data_duplikat)

0

In [ ]:
data_duplikat1 = df[df.duplicated(keep=False)]
print(data_duplikat)

Empty DataFrame
Columns: [LAT     , LON      , DEPTH, TYPE  , MAG , Month, Day, Year, Hour, Minute]
Index: []

In [ ]:
# Cek apakah terdapat nilai 0 di antara kolom dengan tipe int64
kolom_int64 = df.select_dtypes(include=['float64'])

# Periksa apakah ada nilai 0 di antara kolom-kolom int64
nilai_nol = (kolom_int64 == 0).any()

In [ ]:
print(nilai_nol)

LAT          False
LON          False
DEPTH         True
MAG          False
dtype: bool

In [ ]:
kedalaman = df['DEPTH']
print(kedalaman)

0        43.1
1         0.0
2         0.0
3       190.0
4        43.0
        ...
5612     10.0
5613     10.0
5614      8.2
5615     16.7
5616     11.8
Name: DEPTH, Length: 5617, dtype: float64

In [ ]:
jumlah_nol = (df['DEPTH'] == 0).sum()
print(jumlah_nol)

1068

In [ ]:
df = df[df['DEPTH'] != 0]

In [ ]:
df = df.reset_index(drop=True)

In [ ]:
print(type(df)) #Menampilkan tipe data df
df

<class 'pandas.core.frame.DataFrame'>

      LAT       LON        DEPTH  TYPE    MAG  Month  Day  Year  Hour  Minute
0       2.0181    98.0467   43.1  mb       5.0     1    6  2000     0      56
1       3.8640    97.9372  190.0  mb       3.9     2   18  2000    10      13
2       0.4338    98.4284   43.0  mb       4.7     3    2  2000    21      11
3       2.6361    97.3845   33.0  mb       4.1     3   17  2000     0      52
4       2.5305    97.1717   33.0  mb       4.8     s    3  2000    19       2
...        ...        ...    ...     ...   ...   ...  ...   ...   ...     ...
4544    0.1700    99.9100   10.0  Mjma     3.7     2   25  2022     7      16
4545    0.0809   100.0179   10.0  mb       4.5     2   25  2022    15      17
4546    0.0742   100.0249    8.2  mb       3.8     2   25  2022    15      22
4547    0.1927    99.9074   16.7  mb       4.6     2   26  2022    19       8
4548    0.0736    99.9911   11.8  mb       3.9     2   28  2022    10      31

[4549 rows x 10 columns]

In [ ]:
nama_file_csv = 'Data_Cleaning.csv'
df.to_csv(nama_file_csv, index=False)

In [ ]:
def download():
    return send_file(nama_file_csv, as_attachment=True)